body{
margin:0;
background:#e2e8f0;
}

.loginPage{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.loginBox{
background:white;
padding:40px;
width:350px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,.2);
display:flex;
flex-direction:column;
}

.loginBox h2{
text-align:center;
margin-bottom:20px;
}

.loginBox input{
padding:12px;
margin-bottom:15px;
}

.loginBox button{
padding:12px;
background:#2563eb;
color:white;
border:none;
cursor:pointer;
}